<% @plots.each do |plot|%>
  <div id="plot-<%= plot.id %>">
    <h3>Plot #<%= plot.number %></h3>
    <% plot.plants.each do |plant| %>
        <p><%= plant.name%></p>
        <p><%= link_to "Remove #{plant.name} from Plot ##{plot.number}", "/plots/#{plot.id}/plants/#{plant.id}", method: :delete %></p>
    <% end %>
  </div>
 <% end %>